@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <form action="Home/Add" method="post">
        <input type="submit" name="name" value="" />
    </form>
    
</div>
