@page 

@model Midterm_Assignment1_Login.Views.Home.LoginModel

@{
    ViewData["Login"] = "Home Page";
}

<div class="login">
    <form action="/" method="post">

        <p> Welcome</p>
        <p> Username: <input type="textbox" name="username" value="username" /></p>
        
    </form>
</div>